/* ForgotPassword.css */

.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff, #ffc3a0);
  }
  
  .forgotPasswordBox {
    background: #fff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
  }
  
  .forgotPasswordHeading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
  }
  
  .forgotPasswordEmail {
    position: relative;
    margin-bottom: 20px;
  }
  
  .forgotPasswordEmail input {
    width: 100%;
    padding: 10px 5px 10px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .forgotPasswordEmail input:focus {
    border-color: #ff8c00;
  }
  
  .forgotPasswordEmail svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #ff8c00;
  }
  
  .forgotPasswordBtn {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background: #ff8c00;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
  }
  
  .forgotPasswordBtn:hover {
    background: #5d2500;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .forgotPasswordBox {
      width: 90%;
      padding: 20px;
    }
  
    .forgotPasswordHeading {
      font-size: 1.5rem;
    }
  
    .forgotPasswordEmail input {
      padding: 8px 35px 8px 8px;
    }
  
    .forgotPasswordBtn {
      padding: 8px;
      font-size: 0.9rem;
    }
  }
  