.updatePasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-image: linear-gradient(to right, #ffffff, #82bcc4);
  }
  
  .updatePasswordBox {
    background-color: #ffffff;
    padding: 50px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .updatePasswordBox:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .updatePasswordHeading {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .updatePasswordForm {
    display: flex;
    flex-direction: column;
  }
  
  .loginPassword {
    margin-bottom: 15px;
  }
  
  .loginPassword input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease;
  }
  
  .loginPassword input:focus {
    border-color: #007bff;
  }
  
  .updatePasswordBtn {
    background-color: #82bcc4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .updatePasswordBtn:hover {
    background-color: #3c98a4;
  }

  @media screen and (max-width: 600px) {
    .updatePasswordContainer {
      padding: 20px;
    }
  
    .updatePasswordBox {
      width: 100%;
      box-shadow: none;
    }
  
    .updatePasswordHeading {
      font-size: 1.5rem;
    }
  
    .loginPassword input {
      width: calc(100% - 20px);
    }
  }
  
  